$primary-background-color: #ffffff;
$header-footer-color: #fafafa;
$primary-text-color: #000000;
$accent-color: #f7941e;
$logo-color: #231f20;
$hero-background: #f1f1f2;

$item-box-shadow: rgba(0, 0, 0, 0.05);
$item-box-shadow-light: rgba(215, 210, 210, 0.6);
$item-box-shadow-accent: rgba(250, 232, 217, 0.5);
