<section class="section about about-section">
  <div class="container about-container">
    <div class="about-picture-div">
      <img class="about-picture" src="images/card.jpg" alt="Card" width="719" />
    </div>
    <div class="about-text-div">
      <h2 class="about-title">How we work</h2>
      <p class="about-after-title">
        We’ve actually already asked hundreds of women what they want, and made
        a database with the results. All you have to do is take our short survey
        that only takes seconds, and our proprietary algorithm will match you
        with a few perfect gift options.
      </p>
      <div class="about-button-div">
        <button class="button about-button" type="button">Learn More</button>
      </div>
    </div>
  </div>
</section>
