<section class="section blog">
  <div class="container blog-container">
    <h2 class="blog-title">Our Best Blogs Ever</h2>
    <p class="blog-after-title">
      “Try our blog to find the best tips and tricks to select your gift”
    </p>
    <div class="blog-img-div">
      <div class="blog-picture-div">
        <img
          class="blog-picture"
          src="images/couple-2.jpg"
          alt="couple"
          width="400"
        />
      </div>
      <div class="blog-text-div">
        <h3 class="blog-second-title">Mr. John Doe</h3>
        <p class="blog-text">The best way to wish your wife</p>
        <a class="link blog-info-link" href="">Read More</a>
      </div>
    </div>

    <ul class="list blog-list">
      <li class="blog-item">
        <a class="link blog-card-link" href="">
          <h3 class="blog-item-title">
            Database to find the gifts for your girlfriend
          </h3>
          <p class="blog-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore...
          </p>
          <a class="link blog-link" href="">Read More</a>
        </a>
      </li>

      <li class="blog-item">
        <a class="link blog-card-link" href="">
          <h3 class="blog-item-title">
            How Artificial Intelligence read your mind to find the best gift
          </h3>
          <p class="blog-item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore...
          </p>
          <a class="link blog-link" href="">Read More</a>
        </a>
      </li>
    </ul>
  </div>
</section>
