<footer class="section footer">
  <div class="container footer-container">
    <div class="footer-fist-div">
      <div class="footer-list-div">
        <ul class="list footer-list">
          <li class="footer-item">
            <a class="link footer-link" href="">Home</a>
          </li>
          <li class="footer-item">
            <a class="link footer-link" href="">About</a>
          </li>
        </ul>
      </div>

      <div class="footer-log-div">
        <a class="link footer-logo-link" href="/src/index.html">logo</a>
      </div>

      <ul class="list footer-list">
        <li class="footer-item footer-item-link">
          <a class="link footer-link" href="">Service</a>
        </li>
        <li class="footer-item footer-item-link">
          <a class="link footer-link" href="">Blog</a>
        </li>
      </ul>
    </div>

    <div class="footer-social-div">
      <ul class="list footer-social">
        <li class="footer-social-item">
          <a class="link social-link" href=""></a>
        </li>
        <li class="footer-social-item">
          <a class="link social-link" href=""></a>
        </li>
        <li class="footer-social-item">
          <a class="link social-link" href=""></a>
        </li>
        <li class="footer-social-item">
          <a class="link social-link" href=""></a>
        </li>
        <li class="footer-social-item">
          <a class="link social-link" href=""></a>
        </li>
      </ul>
    </div>

    <ul class="footer-info-list">
      <li class="footer-info-item">
        <p><span>&copy; 2010 — 2020</span></p>
      </li>
      <li class="footer-info-item">
        <p>Privacy — Terms</p>
      </li>
    </ul>
  </div>
</footer>
