<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="link header-logo" href="/src/index.html"
        >Gifts<span class="header-logo--accent">Library</span></a
      >
      <ul class="list header-list">
        <li class="header-item">
          <a class="link header-link" href="/src/index.html">Home</a>
        </li>
        <li class="header-item">
          <a class="link header-link" href="#about">About Us</a>
        </li>
        <li class="header-item">
          <a class="link header-link" href="#services">Services</a>
        </li>
        <li class="header-item">
          <a class="link header-link" href="#blogs">Blogs</a>
        </li>
      </ul>
      <button class="button header-button header-button-flex" type="button">
        Gift Finder
      </button>
    </nav>
  </div>
</header>
