<header class="header">
  <div class="container">
    <nav class="header-nav">
      <a class="link header-logo" href="/src/index.html">logo</a>
      <ul class="list header-list">
        <li class="header-item">
          <a class="link header-link" href="">Home</a>
        </li>
        <li class="header-item">
          <a class="link header-link" href="">About Us</a>
        </li>
        <li class="header-item">
          <a class="link header-link" href="">Services</a>
        </li>
        <li class="header-item">
          <a class="link header-link" href="">Blogs</a>
        </li>
      </ul>
      <button class="button header-button header-button-flex" type="button">
        Gift Finder
      </button>
    </nav>
  </div>
</header>
