<section class="section hero">
  <div class="container hero-container">
    <div class="hero-text-div">
      <h1 class="hero-title">Find a gift for your wife or girlfriend</h1>
      <p class="hero-after-title">
        Struggling to find a gift for your wife or girlfriend? No problem!
      </p>

      <div class="hero-button-div">
        <button class="hero-button" type="button">Find gift now</button>
      </div>
    </div>

    <div class="hero-picture-div">
      <img
        class="hero-picture"
        src="images/couple.jpg"
        alt="couple"
        width="719"
      />
    </div>
  </div>
</section>
