<section class="section start">
  <div class="container start-container">
    <h2 class="start-title visually-hidden">Find gift</h2>
    <ul class="list start-list">
      <li class="start-item">
        <p class="start-item-fist">Ready to get started?</p>
      </li>
      <li class="start-item">
        <p class="start-item-second">Sign up or contact us</p>
      </li>
    </ul>

    <ul class="list start-list-button">
      <!-- <div class="start-button-div"> -->
      <li class="start-item">
        <button class="button start-button start-button-one" type="button">
          Find gift now
        </button>
      </li>
      <li class="start-item">
        <button class="button start-button start-button-two" type="button">
          how it works
        </button>
      </li>
      <!-- </div> -->
    </ul>
  </div>
</section>
