<section class="section suggestions" id="services">
  <div class="container">
    <h2 class="suggestions-title">Gifts for all Occasions</h2>
    <p class="suggestions-after-title">
      “Try our web app to find the best gifts for all occasions”
    </p>
    <ul class="list suggestions-list">
      <div class="suggestions-item-div">
        <li class="suggestions-item">
          <img
            class="suggestions-picture"
            src="images/baloon.jpg"
            alt="baloon"
            width="270"
          />
          <div class="suggestions-text-div">
            <p class="suggestions-text">Birthday</p>
            <a class="link suggestions-link" href="">See More ›</a>
          </div>
        </li>
      </div>

      <div class="suggestions-item-div">
        <li class="suggestions-item">
          <img
            class="suggestions-picture"
            src="images/shoes.jpg"
            alt="shoes"
            width="270"
          />
          <div class="suggestions-text-div">
            <p class="suggestions-text">Anniversary</p>
            <a class="link suggestions-link" href="">See More ›</a>
          </div>
        </li>
      </div>

      <div class="suggestions-item-div">
        <li class="suggestions-item">
          <img
            class="suggestions-picture"
            src="images/cards.jpg"
            alt="cards"
            width="270"
          />
          <div class="suggestions-text-div">
            <p class="suggestions-text">Valentine's Day</p>
            <a class="link suggestions-link" href="">See More ›</a>
          </div>
        </li>
      </div>

      <div class="suggestions-item-div">
        <li class="suggestions-item">
          <img
            class="suggestions-picture"
            src="images/spruce.jpg"
            alt="spruce"
            width="270"
          />
          <div class="suggestions-text-div">
            <p class="suggestions-text">Christmas</p>
            <a class="link suggestions-link" href="">See More ›</a>
          </div>
        </li>
      </div>
    </ul>
  </div>
</section>
