.blog-container {
  padding-top: 88px;
  padding-bottom: 88px;
}

.blog-title {
  margin-bottom: 23px;

  font-size: 32px;
  line-height: 1.19;
  text-align: center;
}

.blog-after-title {
  margin-bottom: 71px;

  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}

.blog-img-div {
  display: flex;
  margin: 0 auto;
  margin-bottom: 40px;
}

.blog-picture-div {
  width: 100%;
  height: auto;
}

.blog-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-text-div {
  padding: 62px 127px 62px 78px;
  min-width: 770px;

  background-color: $logo-color;
}

.blog-second-title {
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 1.43;

  color: $primary-background-color;
}

.blog-text {
  margin-bottom: 60px;

  font-size: 48px;
  line-height: 1.21;

  color: $primary-background-color;
}

.blog-info-link {
  padding: 10px;

  font-size: 18px;
  line-height: 1.39;

  border: 0.5px solid $logo-color;
  border-radius: 5px;

  color: $primary-background-color;

  &:hover,
  &:focus {
    border: 0.5px solid $accent-color;
    color: $accent-color;
  }
}

.blog-list {
  display: flex;
}

.blog-item {
  padding: 48px;
}

.blog-item:hover,
.blog-item:focus {
  box-shadow: 10px 10px 15px $item-box-shadow;
  cursor: pointer;
}

.blog-item-title {
  margin-bottom: 16px;

  font-size: 24px;
  line-height: 1.41;
}

.blog-item-text {
  margin-bottom: 16px;

  font-size: 18px;
  line-height: 1.39;
}

.blog-link {
  font-size: 14px;
  line-height: 1.43;
}
