.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  padding-top: 38px;
  padding-bottom: 38px;

  text-transform: uppercase;
  font-family: Homemade Apple;
  font-size: 18px;
  font-weight: 600;

  color: $logo-color;
}

.header-logo--accent {
  color: $accent-color;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list .link {
  display: block;
  padding-top: 47px;
  padding-bottom: 47px;
}

.header-list .header-item:not(:last-child) {
  margin-right: 30px;
}

.header-link:hover,
.header-link:focus {
  color: $accent-color;
}

.header-link {
  font-weight: 200;
  font-size: 18px;
  line-height: calc(22 / 18);
}

.header-button {
  font-size: 18px;

  color: $accent-color;
  border: 1px solid $accent-color;
  background-color: $header-footer-color;
}

.header-button:hover,
.header-button:focus {
  color: $primary-background-color;
  background-color: $accent-color;
}
